<header class="top-header">

<div class="left-section">
<div class="logo-text">Archana <span>Construction</span></div>
</div>

<div class="center-section">
<input type="text" placeholder="Search...">
<button>Search</button>
</div>

<div class="right-section">
    <ul style="display: flex; gap: 15px; list-style: none; margin: 0; padding: 0;">
        <li><i style='font-size:24px' class='fas'>&#xf015;</i></li>
        <li><i style='font-size:24px' class='fas'>&#xf0e0;</i></li>
        <li style="list-style: none;"><span><a target="_blank" href="../pages/Blog/blog.html">Blog</a></span></li>
        <li style="list-style: none;"><span><a target="_blank" href="#">About Us</a></span></li>
    </ul>
<div class="profile-circle">A</div>
</div>

</header>