<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="links" id="link">
        <div class="links-container">
            <h2>Get Expert Guidance</h2>

            <a href="consultation.html" class="consult-btn">
                SCHEDULE A FREE CONSULTATION !
                <span class="calendar-icon">📅</span>
            </a>
        </div>
    </section>
</body>

</html>