<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <aside class="sidebar collapsed" id="sidebarContainer">

<div class="toggle-btn" id="toggleBtn">☰</div>

<ul class="menu">
<li><i style='font-size:24px' class='fas'>&#xf807;</i> <span>Construction</span></li>
<li><i style='font-size:24px' class='fas'>&#xf1ad;</i> <span>Projects</span></li>
<li><i style='font-size:24px' class='fas'>&#xf0eb;</i> <span>Design</span></li>
<li><i style='font-size:24px' class='fas'>&#xf275;</i> <span>Corporate</span></li>
<li>📞 <span>Contact</span></li>
</ul>

</aside>
</body>
</html>