<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <aside class="sidebar collapsed" id="sidebarContainer">

<div class="toggle-btn" id="toggleBtn">☰</div>

<ul class="menu">
<li>🏠 <span>Construction</span></li>
<li>🏗️ <span>Projects</span></li>
<li>💡 <span>Design</span></li>
<li>🚀 <span>Corporate</span></li>
<li>📞 <span>Contact</span></li>
</ul>

</aside>
</body>
</html>